.manager-container {
  background-image: url('assets/back_ground_pic/x.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 50px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Make the buttons vertical again */
  gap: 20px; /* Add gap between buttons for better spacing */
  margin-top: 20px; /* Move the buttons down a bit */
}

.heading-button {
  padding: 20px;
  font-size: 24px;
  background-color: #fb3;
  color: #000;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  text-align: center;
}

.heading-button:hover {
  background-color: rgb(255, 170, 0);
}

.password-container h2 {
  font-size: 40px;
  color: #fb3;
  margin-bottom: 20px;
}